.hero-container {
  margin: 4rem auto 3rem auto;
  overflow: hidden;
  height: 20rem;
  width: 150%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 800px) {
  .hero-container {
    width: 100%;
    font-size: 1.2rem;
  }
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
