#flyoutMenu {
  width: 50vw;
  height: 100vh;
  background-color: #e4efe7;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s;
  overflow: scroll;
  z-index: 1000;
}

@media only screen and (max-width: 800px) {
  #flyoutMenu {
    width: 100vw;
  }
}
#flyoutMenu.hide {
  transform: translateX(300vh);
  opacity: 0;
}

#flyoutMenu.show {
  transform: translateX(0vh);
  opacity: 1;
  overflow: hidden;
}

#flyoutMenu h3 {
  color: #064420;
  margin-left: 3rem;
}

#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

.container {
  margin-top: 2rem;
}

.cart-items {
  display: flex;
}
.cart-item {
  margin-left: 2rem;
}

.cart-item img {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}

.checkout,
.total {
  color: #064420;
  margin-left: 2rem;
}

.cartCloseBtn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  background-color: transparent;
  border: transparent;
}
